* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000000;
}

#__next {
  height: 100vh;
  width: 100vw;
  background: #000000;
  overflow: hidden;
}

main {
  background: #000000;
} 